/* * {
  margin: 0;
  padding: 0;
} */
/* shared styles */
.section-titles {
  color: var(--dark-01, #181818);
  text-align: center;
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  justify-content: center;
  
}
/* body {
  font-family: "Open Sans", sans-serif;
} */
nav {
  display: flex;
  font-family: "Open Sans", sans-serif;
  align-items: center;
  justify-content: space-between;
  margin: 0 200px;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;

  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
}
nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  /* padding-top: 51px; */
  padding-right: 500px;
  justify-content: space-around;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
  /* align-items: center; */
}
nav a {
  text-decoration: none;
  color: #474747;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner .pro-pic {
  width: 500px;
  position: bottom;
}
.banner-greeting {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 0;
}
.banner-heading {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  margin-top: 0;
}
main{
    max-width: 1700px;
    /* margin: 20px 20px; */
    margin: 100px auto 100px auto;
    
    margin : 100px;
}
.about {
   /* margin: 230px 230px 230px 230px;  */
  background-color: #fff8f3;
  padding: 130px;
  justify-content: initial;
  border-radius: 10px;
  text-align: center;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 30px;
  margin: 0;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
    color: #757575;
    font-size: 20px;
    font-weight: 400;
}
.info-description{
    color: var(--dark-01, #181818);
    text-align: center;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
    justify-content: center;

}
